@model IEnumerable<Review>
@{
    ViewData["Title"] = "Index";
    ViewBag.CurrentUrl = "~/Review/Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie Name</th>
            <th scope="col">User Id</th>
            <th scope="col">Movie Rating</th>
            <th scope="col">Comments</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <th scope="row">@review.ReviewId</th>
                <td>@review.Movie</td>
                <td>@review.UserId</td>
                <td>@review.Rating</td>
                <td>@review.Comment</td>
                <td>@review.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" asp-controller="Review" class="btn btn-success mt-4 mb-4">Add Review</a>
